.footer-contacts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-text {
  color:  #F3F6FF;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}