.supports-item-wrapper {
  display: flex;
  align-items: baseline;
  gap: 14px;
}

.supports-text {
  color: rgba(0, 0, 0, 0.50);
  font-family: Roboto, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.36px;
}