.home-page-products {
  width: 1440px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.products-part {
  display: flex;
  align-items: center;
}