.iny-vintage-chair-wrapper {
  display: flex;
  align-items: center;
}

.iny-vintage-chair-text {
  color: #323334;
  font-family: Roboto, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.iny-vintage-chair {
  position: absolute;
  left: 28.6%;
}
